html{
  background-color: black;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;

  }
  
  h1 {
    text-align: center;
  }
  
  .meme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .meme-container img {
    width: 400px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    /*animation: glow 1s infinite alternate;*/
    box-shadow: rgba(72, 135, 202, 0.8) 0 0 80px 1px;
  }
  @keyframes glow {
    from {
      box-shadow: 0 0 10px -10px #00ffaa;
    }
    to {
      box-shadow: 0 0 10px 10px #00ffd5;
    }
  }






  .text-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .text-inputs input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #generate-meme {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: glo 1s infinite alternate;

  }
  

  @keyframes glo {
    from {
      box-shadow: 0 0 10px -10px #0400ff;
    }
    to {
      box-shadow: 0 0 10px 10px #1900ff;
    }
  }





  #generate-meme:hover {
    background-color: #444;
  }
  .heading{
    color: #000000;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }
  .p{
    color: white;
position: relative;
top: -200px;
text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;

  }